.container{
    width: 100%;
    height: auto;
    background-color:#f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.stepper{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
}
.ticketInformation{
    width: 70%;
    height: 600px;
    background-color: white;
    margin-top: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
}
.ticketInformationHeader{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;

}
.ticketInformationIcon{
    font-size: 28px;
    margin-right: 20px;
    position: relative;
    top: 15px;
}
.ticketInformationHeader h3{
    margin-right: 20px;
    position: relative;
    bottom: 8px;
    
}
.ticketInformationFooter{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}
.ticketWent{
    width: 50%;
    height: 100%;
}
.ticketWentHeader{
    width: 100%;
    height: 30px;
    
}
.returnTicket{
    width: 50%;
    height: 100%;
}
.returnTicketHeader{
    width: 100%;
    height: 30px;
}
.specificationOfPassengers{
    width: 70%;
    height: 250px;
    background-color: white;
    margin-top: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
}
.specificationHeader{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.specificationHeaderIcon{
    font-size: 24px;
    margin-right: 20px;
    position: relative;
    
}
.specificationHeader h3{
    margin-right: 20px;
    position: relative;
    
}
.specificationHeaderButton{
    width: 130px;
    height: 40px;
    position: relative;
    right: 65%;
    border: 2px solid #0077db;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: iranyekan;
    color: #0077db;
    cursor: pointer;
}
.specificationHeaderButton h6{
    position: relative;
    top: 3px;
}
.travelMessage{
    width: 70%;
    height: 200px;
    background-color: white;
    margin-top: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
}
.discountCode{
    width: 70%;
    height: 200px;
    background-color: white;
    margin-top: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;  
}
.onlinePayment{
    width: 70%;
    height: 200px;
    background-color: white;
    margin-top: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
}

@media only screen and (max-width:700px) {
    .ticketInformation{
        width: 100%;
    }
}