.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    height: auto;
}
.stepper{
    position: absolute;
    top: 80px;
    width: 100%;
    height: auto;
    
    box-shadow: 0px 2px 3px #dadada;
   
}
.ticketInfo{

    width: 80%;
    height: 200px;
   
    margin-top: 120px;
   
    border-radius: 5px;
}
.passengersInfo
{
    width: 90%;
    height: auto;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    margin-top: 13px;
    background-color: white;
}
.passengersInfoHeader{
    width: 100%;
    height: 80px;
    
    display: flex;
    flex-direction: row;
    
}
.passengersInfoFooter{
    width: 100%;
    height: 100px;
}
.verticalLine{
    width: 5px;
    height: 70%;
    background-color: black;
    position: relative;
    top: 15px;
}
.iconPassengersInfo{
    font-size: 30px;
    position: relative;
    top: 23px;
    margin-right: 40px;
}
.sendEmail{
    width: 90%;
    height: 100px;
   
  
}
.buttonContainer{
    width: 87%;
    
 
   
}